body{
    background-color: #000;
    background-image: url('../img/fsf.jpg');
    background-repeat: no-repeat;
    }
header{
    padding: 3%;
}
.logo{
    padding: 0%;
    margin-left: 1%;
    margin-top: 1%;
    display: flex;
}
.cabecalho{
    padding: 0%;
    display: flex;
    left: 40%;
    margin-right: 40%;

}
figure{
    margin-left: 30%;
}

#menu ul { 
    padding:0px;
    margin:0px;
    background-color:#ffffff00;
    display: flex;
}

#menu ul li {
    display: inline; 
}

#menu ul li a { 
    padding: 2px 1px; 
    display: inline-block;
    text-decoration: none; 
    border-bottom:3px solid #5900ffad; 
}

nav{

}

main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
}

footer{
    padding: 3%;
}

.logo{
}

p{
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;
    color:#645eb4
}

h1,h2,li,figcaption{
    color: #ffff;
}