body{
    background-color: #000;
    background-image: url('../img/fsf.jpg');
    background-position: fixed;
    background-size: 105.3%;
    }

header{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{

}

.logo{
    padding: 0%;
    margin-left: 1%;
    margin-top: 1%;
    display: flex;
}
.cabecalho{
    padding: 0%;
    display: flex;
    left: 40%;
    margin-right: 40%;

}
.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;   
}
figure{
    width: 70%;
}

figure img{
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 8px darkblue;
    max-width: 100%;
    height: auto;
}

figure figcaption{
    margin: 1.0em;
    text-align: center;
    color: yellow;
}

.caixa-img{
    text-align: center;
    margin-top: 1%;
    align-items: center;
}



menu{

}

#menu ul { 
    padding:0px;
    margin:0px;
    background-color:#ffffff00;
    display: flex;
}

#menu ul li {
    display: inline; 
    font-size: 1,2em;
}

#menu ul li a { 
    padding: 2px 1px; 
    display: inline-block;
    text-decoration: none; 
    border-bottom:3px none #5900ffad; 
    white-space: nowrap;
    color: #5900ffad;
}

nav{

    width: 47%;

}

main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
}

footer{
    padding: 3%;
    color: rgb(183, 105, 255);
}

.logo{
}

h1{
    font-size: 1.5em;
}

h2{
    font-size: 1.5em;
}

p{
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;
    color:#645eb4
}

h1,h2,li,figcaption{
    color: #ffff;
}